:root {
  --color-background-pramuka: #7b341e; /*orange 900*/
  --color-background-pramuka-700: #c05621; /*orange 700*/
  --color-background-primary: #ed8936; /*orange 500*/
  --color-background-hover: #c05621; /*orange 700*/
  --color-background-card: #fff; /*white*/

  --color-text-primary: #1a202c; /*gray 900*/
  --color-text-secondary: #2d3748; /*gray 800*/
  --color-text-nav: #fff; /*white*/
  --color-text-button: #fff; /*white*/
  --color-text-link: #b45308; /*orange 700*/
  --color-text-link-secondary: #d97706; /*orange 600*/
}

.dark {
  --color-background-pramuka: #101623;
  --color-background-pramuka-700: #2a4365; /*orange 700*/
  --color-background-primary: #2d3748; /*gray 800*/
  --color-background-hover: #2a4365; /*blue 900*/
  --color-background-card: #222833;

  --color-text-primary: #cbd5e0; /*gray 400*/
  --color-text-secondary: #a0aec0; /*gray 500*/
  --color-text-nav: #cbd5e0; /*gray 400*/
  --color-text-button: #a0aec0; /*gray 500*/

  --color-text-link: #f59e0d; /*orange 700*/
  --color-text-link-secondary: #b45308; /*orange 600*/
  background-color: #1a202c;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/inter-var-latin.woff2) format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  background: #f3f4f6 !important;
}

#nprogress .peg {
  box-shadow: 0 0 0.625rem #f3f4f6, 0 0 0.3125rem #f3f4f6 !important;
}

#nprogress .spinner-icon {
  border-top-color: #f3f4f6 !important;
  border-left-color: #f3f4f6 !important;
}
